/* src/Navigation.css */

.Nav-link {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  padding: 5px 0;
  position: relative;
  transition: color 0.3s;
}

/* Underline effect animation */
.Nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color); 
  transition: width 0.3s ease-out;
}

.Nav-link:hover {
  color: var(--secondary-color); 
}

.Nav-link:hover::after {
  width: 100%;
}
